<form method="post" action="/store" enctype="multipart/form-data">

    Nombre:
    <input type="text" name="txtNombre" id="txtNombre">
    <br>

    Telefono:
    <input type="text" name="txtTelefono" id="txtTelefono">
    <br>

    Pelicula:
    <input type="text" name="txtpelicula" id="txtpelicula">
    <br>

    Estado:
    <input type="text" name="txtEstado" id="txtEstado">
    <br>

    Foto:
    <input type="file" name="txtFoto" id="txtFoto">
    <br>
    <br>
    <input type="submit" value="Agregar">
</form>