
    {% include 'header.html' %}


    <br/>

    <a href="{{url_for('create')}}" class="btn btn-success"> 

        Ingresar Nuevo 

    </a>

    <br>
    <br>

    <table class="table table-light">
        <thead class="thead-light">
            <tr>
                <th>#</th>
                <th>Foto</th>
                <th>Nombre</th>
                <th>Telefono</th>
                <th>Pelicula</th>
                <th>Estado</th>
                <th>Acciones</th>
                
            </tr>
        </thead>
        <tbody>
            {% for pelicula in peliculas %}

            <tr>
                <td>{{pelicula[0] }}</td>

                <td>
                    <img class="img-thumbnail" width="100" src="uploads/{{pelicula[5] }}" alt="">
                    

                </td>

                <td>{{pelicula[1] }}</td>
                <td>{{pelicula[2] }}</td>
                <td>{{pelicula[3] }}</td>
                <td>{{pelicula[4] }}</td>
                <td><a class="btn btn-warning" href="/edit/{{pelicula[0] }}">Editar</a> |
                    
                    <a onclick="return confirm('Desea borrar el registro?')" class="btn btn-danger" href="/destroy/{{pelicula[0] }}">Eliminar</a>
                </td>
            </tr>
                
            {% endfor %}
            
        </tbody>
    </table>

{% include 'footer.html' %}
