<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <title>Inicio</title>
</head>
<body>
    
    <table class="table table-light">
        <thead class="thead-light">
            <tr>
                <th>#</th>
                <th>Foto</th>
                <th>Nombre</th>
                <th>Telefono</th>
                <th>Pelicula</th>
                <th>Estado</th>
                <th>Acciones</th>
                
            </tr>
        </thead>
        <tbody>
            {% for pelicula in peliculas %}

            <tr>
                <td>{{pelicula[0] }}</td>
                <td>{{pelicula[5] }}</td>
                <td>{{pelicula[1] }}</td>
                <td>{{pelicula[2] }}</td>
                <td>{{pelicula[3] }}</td>
                <td>{{pelicula[4] }}</td>
                <td><a href="/edit/{{pelicula[0] }}">Editar</a> |
                    
                    <a href="/destroy/{{pelicula[0] }}">Eliminar</a>
                </td>
            </tr>
                
            {% endfor %}
            
        </tbody>
    </table>

</body>
</html>